/*CSS RESETS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

	vertical-align: baseline;
}




/*GlOBAL CSS*/
body, header, footer, a{
  background-color: black;
  font-family: Helvetica;
  opacity: 0.9;
  color: seashell;
  font-size: 22px;
  text-align: center;

}

h2, h4{
  padding: 10px;

}

main{
padding-top: 69px;
width: 1200px;
background-color: black;
margin: auto;

}



/*HEADER CSS*/

header{
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  display:flex;
  justify-content: space-between;;
  align-items:center;
  flex-wrap: wrap;

}

/*logo*/
.logo{
  height: 50px;
  padding-left: 10px;

}

.logo img{
  width: auto;
  height: 50px;

}

/*nav*/
.nav{
  height: 50px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;

}

.nav span{
  display:inline-block;
  text-decoration: underline;
  padding: 20px 10px;

}




/*MAIN BODY CSS*/

/*MISSION SECTION*/
.mission{
  background-image: url(../resources/images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.missioninfo{
  width: 1200px;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


/*TEA OF THE MONTH SECTION*/
.month{
  width: 1000px;
  height: auto;
  margin: auto;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.monthimage{
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.m-image img{
  height: 200px;
  width: 300px;
  padding: 20px 15px;
}


/*LOCATIONS SECTION*/
.locations{
	background-image: url(../resources/images/img-locations-background.jpg);
	height: 500px;
	width: 1200px;
	margin: auto;
	margin-top: 80px;
	padding-top: 70px;
	display: flex;
	flex-direction: column;

}

.locatebox{
	display: flex;
	justify-content: center;

}

.locateinfo{
	height: auto;
	width: 300px;
	opacity: 1;
	background-color: black;
	margin: 5px 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;

}

.locateinfo span{
	margin: 23px auto;
	display: block;

}
.locateinfo h3{
	padding: 10px;
}


/*FOOTER CSS*/
footer{
	height: 200px;
	width: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact{
	display: flex;
	flex-direction: column;
}

.cont{
	margin-top: 40px;
}

.copy{
	text-align: left;
	margin-left: 20px;
	margin-bottom: 30px;
}
